.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.cache
tests
docker-compose.yml
KURULUM-POSTGRES.md
database/*.sqlite
database/database.sqlite
README.md
KURULUM-RENDER.md
